ul{
    list-style-type:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(132, 202, 28);
}

li{
    float: left;
}

li a{
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: blueviolet;
}

li a:hover{
    background-color: rgb(16, 112, 17);
}